html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div
            p 
            form(action="http://localhost:3000/check_employee", method="GET") 
                label(for="employeeId") Enter Employee Id: 
                input#employeeId(type="text" name="employeeId") 
                button#checkID(type="submit") Check ID
            form#editEmployee
                label(for='name') Name:
                input#editName(type='text', name='name' value=employee?employee[0].name:"" )
                br
                label(for='email') Email:
                input#editEmail(type='email', name='email' value=employee?employee[0].email:"" ) 
                br
                label(for='department') Department:
                input#editDepartment(type='text', name='' value=employee?employee[0].department:"" readonly ) 
                br
                label(for='employeeID') EmployeeID:
                input#editEmployeeId(type='text', name='editEmployeeId' value=employee?employee[0].employeeId:"" readonly ) 
                br
                label(for='role') Role:
                input#editRole(type='text', name='role' value=employee?employee[0].role:"" ) 
                br
                label Gender:
                label
                    input(type='radio', name='gender', value='male')
                    | Male
                label
                    input(type='radio', name='gender', value='female')
                    | Female
                label
                    input(type='radio', name='gender', value='other')
                    | Other
                br
                button(type="submit") Make Changes 
        script(src="/js/editScript.js")